.figure-wrapper {
	text-align: center;
	pointer-events: none;
	a {
		text-decoration: none !important;
	}
	figure.image {
		position: relative;
		text-align: center;
		display: inline-block;
		pointer-events: auto;
		.empty-image {
			background-color: #F0F0F0;
			border-radius: 2px;
			display: block;
			.pt-button {
				padding: 2em 0em;
				width: 100%;
			}
		}
		img {
			display: block;
			width: 100%;
		}
		figcaption {
			opacity: 0.75;
			p {
				margin-bottom: 0em;
			}
		}
	}	
}

.file-select {
	margin-top: 1em;
	display: block;
	input.file-input {
		display: none;
	}
}

@media only screen and (max-width: 720px) {  /* 45em or 720px */
	.figure-wrapper {
		figure.image {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}