@import "~katex/dist/katex.css";

.latex-wrapper {
	font-size: 0.9em;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	&.block {
		font-size: 20px;
		display: block;
		text-align: center;
	}
	.render-wrapper {
		display: inline-block;
		max-width: 100%;
	}
	.editable-render {
		user-select: none;
	}
}
