.citation-wrapper {
	span.citation {
		font-weight: bold;
		cursor: pointer;
	}
	.render-wrapper {
		display: inline-block;
		max-width: 100%;
	}
}

.citation-popover {
	.rendered-citation {
		max-width: 400px;
		padding: 15px;
		display: inline-block;
		.empty-citation-text {
			font-style: italic;
			opacity: 0.75;
		}	
	}
}

.citation-list-wrapper {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
	// white-space: normal;
	.rendered-citation {
		div {
			display: inline;
			white-space: normal;
		}
	}
	&.selected {
		outline: 3px solid #BBBDC0;	
	}
	&.editable {
		user-select: none;
		pointer-events: none;
	}
	.count {
		font-weight: bold;
		padding-right: 1em;
	}
	.pt-non-ideal-state {
		padding: 2em 0em;
	}
}
