.highlight-menu {
	height: 0px;
	z-index: 10;
	position: relative;
	// .content {
	// 	display: none;
	// }
	.popover-wrapper {
		transition: transform 0.1s ease-out;
		position: absolute;
		text-align: center;
		border-radius: 100px;
		background-color: white;
		z-index: 15;
	}
	.things-wrapper {
		z-index: 12;
		width: calc(100% + 20px);
	    position: relative;
	}
	.pt-button {
		border-radius: 100px;
		box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.1);
		background-color: #F0F0F0;
		&:before {
			opacity: 0.75;
		}
		&:hover:before {
			opacity: 1;
		}
	}
	.pt-button[class*="icon-"]::before {
		margin: 0px;
	}
}

.cite-deco {
	// background-color: transparent;
	position: relative;
	background-color: rgba(56, 111, 241, 0.3);
	z-index: 1;
	// &:before {
	// 	z-index: -1;
	// 	content: "";
	// 	position: absolute;
	// 	display: block;
	// 	opacity: 0;
	// 	height: 100%;
	// 	width: 100%;
	// 	background-color: rgba(56, 111, 241, 0.3);
	// 	top: 0;
	// 	left: 0;
	// }
	&.temp-selection {
		background-color: rgba(90, 90, 90, 0.3);
	}
	&.permanent {
		background-color: #f5e61c !important;
	}
	&.active {
		// background-color: rgba(56, 111, 241, 0.3);
	}
	// &:before {
	// 	pointer-events: auto;
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	display: inline-block;
	// 	width: 15px;
	// 	height: 10px;
	// 	background-color: rgba(56, 111, 241, 1.0);
	// 	border-radius: 15px;
	// }
}
.thing {
	pointer-events: auto;
	position: absolute;
	right: 0;
	display: inline-block;
	width: 15px;
	height: 10px;
	background-color: rgba(56, 111, 241, 1.0);
	border-radius: 15px;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 1);
}


.highlight-menu-wrapper {
	.selection-menu {
		padding: 10px;
	}
	.button-wrapper {
		text-align: right;
		margin-bottom: 10px;
	}
	.input-wrapper {
		div {
			font-weight: 500;
		}
		textarea {
			font-size: 0.85em;
			min-width: 250px;
			resize: none;
			min-height: 40px;
			word-break: break-all;
			padding: 5px;
		}
	}
}
