.highlight-menu {
	height: 0px;
	z-index: 10;
	position: relative;
	// .content {
	// 	display: none;
	// }
	.popover-wrapper {
		transition: transform 0.1s;
		position: absolute;
		text-align: center;
		border-radius: 100px;
		background-color: white;
		z-index: 15;
	}
	.thing-wrapper {
		z-index: 12;
	}
	.pt-button {
		border-radius: 100px;
		box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.1);
	}
	.pt-button[class*="icon-"]::before {
		margin: 0px;
	}
}

.cite-deco {
	background-color: transparent;
	background-color: rgba(56, 111, 241, 0.3);
	&.temp-selection {
		background-color: rgba(90, 90, 90, 0.3);
	}
	&.active {
		// background-color: rgba(56, 111, 241, 0.3);
	}
	// &:before {
	// 	pointer-events: auto;
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	display: inline-block;
	// 	width: 15px;
	// 	height: 10px;
	// 	background-color: rgba(56, 111, 241, 1.0);
	// 	border-radius: 15px;
	// }
}
.thing {
	pointer-events: auto;
	position: absolute;
	right: 0;
	display: inline-block;
	width: 15px;
	height: 10px;
	background-color: rgba(56, 111, 241, 1.0);
	border-radius: 15px;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.75);
}


.highlight-menu-wrapper {
	.selection-menu {
		padding: 3px;
	}
	.pt-button {
		display: block;
		margin-bottom: 3px;
	}
}
