figure {
	text-align: center;
	margin: 1em auto;

	& > * {
		width: 100%;
		pointer-events: none;
	}
	&.ProseMirror-selectednode > * {
		pointer-events: auto;
	}

	&[data-align='left'] {
		float: left;
	}
	&[data-align='right'] {
		float: right;
	}
	@for $i from 1 through 100 {
		&[data-size='#{$i}'] {
			width: percentage($i/100);
		}
	}
	&[data-align='full'] {
		width: 100%;
	}

	figcaption {
		opacity: 0.75;
		padding: 2px 0px 5px;
	}
}

.ProseMirror.read-only {
	figure > * {
		pointer-events: auto;
	}
}

@media only screen and (max-width: 720px) {
	figure {
		float: none !important;
		width: 100% !important;
	}
}

/* Need to use [data-align="breakout"] in pubs */
/* Need to make sure footnote importing formats to the right type now not <footnote> */
