figure {
	text-align: center;
	margin: 1em auto;

	& > * {
		width: 100%;
		pointer-events: none;
	}
	&.ProseMirror-selectednode > * {
		pointer-events: auto;
	}

	&[data-align='left'] {
		float: left;
	}
	&[data-align='right'] {
		float: right;
	}
	@for $i from 1 through 100 {
		&[data-size='#{$i}'] {
			width: percentage($i/100);
		}
	}
	&[data-align='full'] {
		width: 100%;
	}

	figcaption {
		opacity: 0.75;
		padding: 2px 0px 5px;
	}
}

.ProseMirror.read-only {
	figure > * {
		pointer-events: auto;
	}
}

@media only screen and (max-width: 720px) {
	figure {
		float: none !important;
		width: 100% !important;
	}
}

/* Need to use [data-align="breakout"] in pubs */
/* Need to make sure footnote importing formats to the right type now not <footnote> */
/* Element whose sibling is a citationlist or footnote list? */
/* Need to add showFootnoteList and showCitationList options to pubs (?) */

// Interim plan. 
// If it has a citation list, or if it has a footnote list - don't show in the footer (or just collapse so clicks can still work?)
// Remove footnotelist and citationList from dropdown
// Go to individual pubs, and request removal. Or do it ourselves - only ~150
// Go through firebase and remove all steps that write footnotelist or citationlist


// Find all pubs that have footnotelist and citationlist
// Do we include citation render information in doc? We could simply render on load.
	// Would allow us to switch how it is handled (APA, etc)

 // var x = document.querySelectorAll(".footnote");
 // x.forEach((elem)=> {
	//  elem.addEventListener("mouseenter", (evt)=> {
	//  	console.log(evt.target.getBoundingClientRect());
	//  }); 
 // });

/*
- Footnote titles
	- Firebase migration tooling. 
	- Process that looks at every firebase pub, iterates over all steps.
		allows you mutate/remove/add steps
	- 
- Hover/click functionality on footnotes, citations
- Pub Footer designed and rendering footnote/citation content
- ✓ Footnote/citation importing confirmation

*/
