.citation-list-wrapper {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
	.rendered-citation {
		div {
			display: inline;
			white-space: normal;
		}
	}
	.count {
		font-weight: bold;
		padding-right: 1em;
	}
	.empty-state {
		text-align: center;
		padding: 2em 0em;
	}
}
