.cursor-container {
	.left-cursor {
		display: block;
		height: 20px;
		width: 20px;
		border-radius: 20px;
		opacity: 0.35;
		z-index: 1;
		background-color: rgba(0, 25, 150, 1.0);
		position: absolute;
		transition: .2s .4s linear opacity, 0s .6s linear box-shadow;
		font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
		color: white;
		&:hover {
			opacity: 1.0;
			transition: .2s 0s linear opacity, 0s 0s linear box-shadow;
			box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.20);
			.name {
				transform: scale(1, 1);
				transition: .2s 0s ease-out transform;
				box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.20);
			}
		}
		.image {
			width: 16px;
			height: 16px;
			border-radius: 16px;
			top: 2px;
			left: 2px;
			position: absolute;
			z-index: 3;
		    max-width: none;
		    margin-top: 0px;
		}
		.initials {
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			top:0;
			left: 0px;
			font-size: 12px;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
			z-index: 2;
			white-space: nowrap;
			pointer-events: none;
		}
		.name {
			position: absolute;
			display: block;
			padding: 1px 12px;
			border-radius: 2px;
			background-color: #777;
			font-size: 12px;
			line-height: 14px;
			font-weight: 400;
			bottom: 2px;
			left: 15px;
			z-index: 1;
			white-space: nowrap;
			user-select: none;
			transform: scale(0, 1);
			transform-origin: center left;
			transition: .2s .4s ease-in transform;
		}
	}
}
// .collab-cursor {
// 	position: relative;
// 	font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
// 	color: white;
// 	user-select: none;
// 	.inner-bar {
// 		position: absolute;
// 		height: calc(1em + 5px);
// 		width: 2px;
// 		background-color: rgba(0, 25, 150, 1.0);
// 		bottom: 0px;
// 		left: 0;
// 		.inner-circle-small {
// 			position: absolute;
// 			height: 8px;
// 			width: 8px;
// 			border-radius: 8px;
// 			background-color: rgba(0, 25, 150, 1.0);
// 			bottom: calc(100% + 0px);
// 			left: -3px;
// 		}
// 		.hover-wrapper {
// 			transform: scale(0.4);
// 			opacity: 0;
// 			transform-origin: bottom left;
// 			transition: .1s 0.3s linear transform, 0s 0.4s linear opacity;
// 			display: block;
// 			position: absolute;
// 			bottom: 100%;
// 			pointer-events: none;
// 			.inner-circle-big {
// 				position: absolute;
// 				height: 24px;
// 				width: 24px;
// 				border-radius: 24px;
// 				background-color: rgba(0, 25, 150, 1.0);
// 				bottom: 0px;
// 				left: -11px;
// 			}
// 			.initials:after {
// 				display: block;
// 				position: absolute;
// 				width: 20px;
// 				height: 20px;
// 				bottom: 2px;
// 				left: -9px;
// 				font-size: 12px;
// 				font-weight: bold;
// 				line-height: 20px;
// 				text-align: center;
// 				z-index: 4;
// 				white-space: nowrap;
// 				user-select: none;
// 			}
// 			.name:after {
// 				position: absolute;
// 				display: block;
// 				padding: 2px 12px;
// 				border-radius: 2px;
// 				color: white;
// 				background-color: #777;
// 				font-size: 12px;
// 				line-height: 16px;
// 				font-weight: 400;
// 				bottom: 2px;
// 				left: 6px;
// 				white-space: nowrap;
// 				z-index: 3;
// 				user-select: none;
// 			}
// 			.image:after {
// 				position: absolute;
// 				bottom: 2px;
// 				left: -9px;
// 				z-index: 5;
// 				border-radius: 10px;
// 				width: 20px;
// 				height: 20px;
// 				background-size: cover;
// 				content: "";
// 			    max-width: none;
// 			    margin-top: 0px;
// 			}
// 		}
// 	}

// 	&:hover {
// 		.hover-wrapper {
// 			opacity: 1;
// 			transform: scale(1);
// 			transition: .1s linear transform, 0s 0s linear opacity;
// 		}
// 	}
// }
