.figure-wrapper {
	text-align: center;
	pointer-events: none;
	a {
		text-decoration: none !important;
	}
	figure.video {
		position: relative;
		text-align: center;
		display: inline-block;
		pointer-events: auto;
		video {
			display: block;
			width: 100%;
		}
		figcaption {
			opacity: 0.75;
			padding: 5px 0px;
			p {
				margin-bottom: 0em;
			}
		}
	}	
}

@media only screen and (max-width: 720px) {
	.figure-wrapper {
		figure.video {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}