@import "./fileicon.scss";

.figure-wrapper {
	text-align: center;
	a {
		text-decoration: none !important;
	}
	figure.file {
		pointer-events: auto;
		position: relative;
		text-align: center;
		display: inline-block;
		width: 65%;		
		.empty-image {
			background-color: #F0F0F0;
			border-radius: 2px;
			display: block;
			.pt-button {
				padding: 2em 0em;
				width: 100%;
			}
			input {
				display: none;
			}
		}
		.details {
			display: flex;
			align-items: center;
			text-align: left;
			.extension {
				text-transform: uppercase;
				font-family: 'Courier', monospace;
				font-weight: 600;
				font-size: 1.5em;
			}
			.file-name {
				flex-grow: 1;
				flex-shrink: 1;
				margin: 0em 1em;
				a {
					color: inherit;
					&:hover {
						cursor: pointer;
						text-decoration: underline !important;
					}	
				}
			}
			.file-size {
				margin: 0em 1em;
			}
		}
		figcaption {
			opacity: 0.75;
			padding-top: 5px;
			p {
				margin-bottom: 0em;
			}
		}
	}	
}

.options-box {
	.file-select {
		margin-top: 1em;
		display: block;
		input.file-input {
			display: none;
		}
	}
	.source-url {
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	}
}

@media only screen and (max-width: 720px) {  /* 45em or 720px */
	.file-figure-wrapper {
		.file {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}