@import '~@blueprintjs/core/src/blueprint.scss';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';

.pubpub-editor {
	font-family: serif;
}
p.inserted:before {
	content: "¶";
	color: green;
}
p.deleted:before {
	content: "¶";
	color: green;
	text-decoration: line-through;
}

