.figure-wrapper {
	text-align: center;
	pointer-events: none;
	&.editable {
		figure {
			pointer-events: none;
			&.isSelected {
				pointer-events: auto;
			}
		}
	}
	figure {
		pointer-events: auto;
		position: relative;
		text-align: center;
		display: inline-block;
		.empty-iframe {
			background-color: #F0F0F0;
			border-radius: 2px;
			display: block;
			padding: 2em;
			.pt-button {
				padding: 2em 0em;
				width: 100%;
			}
		}
		iframe {
			display: block;
			width: 100%;
		}
		figcaption {
			opacity: 0.75;
		}
	}	
}

@media only screen and (max-width: 720px) {  /* 45em or 720px */
	.figure-wrapper {
		figure {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}