.header-menu {
	height: 35px;
	line-height: 39px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 15;
	margin-bottom: 15px;
	.button {
		display: inline-block;
		width: 28px;
		text-align: center;
		outline: none;
		font-size: 16px;
		color: rgba(50, 50, 50, 0.4);
		height: 35px;
		cursor: pointer;
		&:hover {
			color: rgba(50, 50, 50, 0.7);
		}
	}
	.button.active {
		color: black;
	}
	.button[class*="icon-"]::before {
		// line-height: 1;
		line-height: inherit;
		font-size: inherit;
		font-weight: 400;
		font-style: normal;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		color: inherit;
	}
	.button.icon-h2::before {
		font-size: 14px;
	}
}

@font-face {
	font-family: 'menu-icons';
	src:  url('./icons/menu-icons.eot');
	src:  url('./icons/menu-icons.eot#iefix') format('embedded-opentype'),
		url('./icons/menu-icons.ttf') format('truetype'),
		url('./icons/menu-icons.woff') format('woff'),
		url('./icons/menu-icons.svg#menu-icons') format('svg');
}

.icon-bold:before { font-family: 'menu-icons' !important; content: "\f032"; }
.icon-italic:before { font-family: 'menu-icons' !important; content: "\f033"; }
.icon-link:before { font-family: 'menu-icons' !important; content: "\f0c1"; }
.icon-list-ul:before { font-family: 'menu-icons' !important; content: "\f0ca"; }
.icon-list-ol:before { font-family: 'menu-icons' !important; content: "\f0cb"; }
.icon-strikethrough:before { font-family: 'menu-icons' !important; content: "\f0cc"; }
.icon-quote-right:before { font-family: 'menu-icons' !important; content: "\f10e"; }
.icon-code:before { font-family: 'menu-icons' !important; content: "\f121"; }
.icon-unlink:before { font-family: 'menu-icons' !important; content: "\f127"; }
.icon-superscript:before { font-family: 'menu-icons' !important; content: "\f12b"; }
.icon-subscript:before { font-family: 'menu-icons' !important; content: "\f12c"; }
.icon-header:before { font-family: 'menu-icons' !important; content: "\f1dc"; }
