.footnote-wrapper {
	.pt-popover-wrapper {
		vertical-align: initial;
	}
	.render-wrapper {
		display: inline-block;
		max-width: 100%;
	}
	sup.footnote {
		font-weight: bold;
		cursor: pointer;
	}
}
.footnote-popover {
	.footnote-text {
		max-width: 400px;
		padding: 15px;
		display: inline-block;
		.empty-footnote-text {
			font-style: italic;
			opacity: 0.75;
		}	
	}
}

.footnote-list-wrapper {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
	.rendered-footnote {
		display: inline-block;
		white-space: normal;
		vertical-align: top;
	}
	.count {
		font-weight: bold;
		padding-right: 1em;
	}
	.pt-non-ideal-state {
		padding: 2em 0em;
	}
}