.footnote-wrapper {
	.pt-popover-wrapper {
		vertical-align: initial;
	}
	.render-wrapper {
		display: inline-block;
		max-width: 100%;
	}
	sup.footnote {
		font-weight: bold;
		cursor: pointer;
	}
}
.footnote-popover {
	.footnote-text {
		max-width: 400px;
		padding: 15px;
		display: inline-block;
		.empty-footnote-text {
			font-style: italic;
			opacity: 0.75;
		}	
	}
}
