@import "~prosemirror-view/style/prosemirror.css";
@import "~prosemirror-gapcursor/style/gapcursor.css";
@import "~prosemirror-tables/style/tables.css";

.editor {
	&:focus {
		outline: none !important;
	}
	.prosemirror-placeholder {
		opacity: 0.5;
		width: 0;
		display: inline-block;
		overflow: visible;
		white-space: nowrap;
		position: absolute;
		pointer-events: none;
		user-select: none;
	}
	h1, h2, h3, h4, h5, h6 {
		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.ProseMirror-selectednode, .isSelected {
		outline: 2px solid #BBBDC0;
	}
	table {
		margin: 0;
		max-width: 100%;
	}
	th, td {
		min-width: 1em;
		border: 1px solid #ddd;
		padding: 3px 5px;
	}
	/* This clunky table, tableWrapper thing is because */
	/* isReadOnly removes the wrapping div, so margins don't */
	/* collapse as expected in all situations. */
	table {
		margin: 1em 0;
	}
	.tableWrapper {
		margin: 1em 0;
		table {
			margin: 0em;
		}
	}
	th {
		font-weight: bold;
		text-align: left;
		background-color: #F0F0F4;
	}
}
@import "./components/File/fileicon.scss";

.figure-wrapper {
	text-align: center;
	pointer-events: none;
	a {
		text-decoration: none !important;
	}
	figure.file {
		position: relative;
		text-align: center;
		display: inline-block;
		pointer-events: auto;
		width: 65%;
		.details {
			display: flex;
			align-items: center;
			text-align: left;
			.extension {
				text-transform: uppercase;
				font-family: 'Courier', monospace;
				font-weight: 600;
				font-size: 1.5em;
			}
			.file-name {
				flex-grow: 1;
				flex-shrink: 1;
				margin: 0em 1em;
				a {
					color: inherit;
					&:hover {
						cursor: pointer;
						text-decoration: underline !important;
					}	
				}
			}
			.file-size {
				margin: 0em 1em;
			}
		}
		figcaption {
			opacity: 0.75;
			padding: 5px 0px;
		}
	}	
}

@media only screen and (max-width: 720px) {
	.figure-wrapper {
		figure.file {
			margin: 1em 0em !important;
			width: 100% !important;
			float: none !important;
		}
	}
}

@import "./collab.scss";